{% extends 'lesson/base.html' %}
{% load staticfiles %}
{% load embed_video_tags %}
{% block title %} learnonline | read course {% endblock %}

{% block banner %}
<!-- banner -->
	<div class="banner1">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1><a class="navbar-brand" href="/"><span>L</span>earnonline</a></h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/courses/">Courses</a></li>
						<li><a href="/services/">Services</a></li>
						<li><a href="/">Blog</a></li>
						{% if user.is_authenticated %}
						<li><a href="{% url 'logout' %}">logout</a></li>
						{% else %}
						<li><a href="#register">Register</a></li>
						<li><a href="{% url 'login' %}">login</a></li>
						{% endif %}
					</ul>
			</div>
			<div class="w3_agile_phone">
				{% if user.is_authenticated %}
				<p><i class="fa fa-user" aria-hidden="true"></i>logged as {{ user.username }}</p>
				{% endif %}
				{% for mobile in instructors %}
				<p><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:{{ mobile.phone }}">{{ mobile.phone }}</a></p>
				{% endfor %}
			</div>
			</nav>
			<div class="wthree_banner1_info">
				<div class="container">
				{% if info %}
				<h3><span class="fa fa-info-circle"> Hello! {{ request.user }} {{ info }}</span></h3>
				{% else %}
				<h3><span>{{ l.instructor.course }}</span></h3>
				<h4><span>{{ l.instructor }}</span></h4>
				{% endif %}
			</div>
			</div>
		</nav>
	</div>
<!-- //banner -->	
{% endblock banner %}
{% block content %}
<!-- services -->
<style type="text/css">
	#video {
    width: 100%;
    height: auto;
}
</style>
	<div class="courses">
		<div class="container"> 	
			{% for lessons in lessons %}
			<div class="w3_agile_team_grid">
				<div class="w3_agile_team_grid_left">
					<p>0{{ forloop.counter }}</p>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
				</div>
				<div style="margin-top: 40px" class="w3_agile_team_grid_right">
					<h3><span>{{ lessons.lesson_title }}</span></h3>
					{% if lessons.video %}
					<div class="embed-responsive embed-responsive-16by9">
  						<embed class="embed-responsive-item">{% video lessons.video '400x200' %}</embed>
					</div>
					{% endif %}
					<p>{{ lessons.lesson_body|linebreaksbr }}</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agileinfo_services_grids">
				<div class="col-md-4 w3_agile_services_grid">
					<div class="agileits_w3layouts_services_grid1">
						<div class="w3_agileits_services_grid1">
							<div class="w3_agileits_services_grid1l">
								<img src="{{ lessons.instructor.photo.url }}" alt=" " class="img-responsive" />
							</div>
							<div class="w3_agileits_services_grid1r">
								<ul>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
									<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
									<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3_agileits_services_grid1">
							<p> {{ lessons.instructor.first_name }} {{ lessons.instructor.last_name }}</p>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			{% endfor %}
			{% if lessons.has_other_pages %}
				{% include 'lesson/pagination.html' %}
			{% endif %}
		</div>
	</div>
<!-- //services -->
	{% endblock %}